<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <main>
        <section class="welcome">
            <h1>Welcome to CSE Motors!</h1>
            <div class="welcome-image">
                <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean">
                <div class="welcome-ul">
                    <ul>
                        <li>3 Cup holders</li>
                        <li>Superman doors</li>
                        <li>Fuzzy dice!</li>
                    </ul>
                    <button>Own Today</button>
                </div>
            </div> 
        </section>
        
        <section class="container">
            <div class="container-upgrades">
                <h2>DeLorean Upgrades</h2>
                <div class="upgrades">
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        <p><a href="#">Flux Capacitor</a></p>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        <p><a href="#">Flame Decals</a></p>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                        <p><a href="#">Bumper Stickers</a></p>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        <p><a href="#">Hub Caps</a></p>
                    </div>
                </div>
            </div>

            <div class="reviews">
                <h2>DMC DeLorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </section>
        
        
    </main>
    
   
</body>
</html>
